@import "../../assets/styles/utils/helpers/colors.scss";
@import "../../assets/styles/utils/helpers/breakpoints.scss";

.hero-container {
  height: 100vh;
  background-color: #f2f4f9;
  // background-image: url("../../assets/img/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  align-items: center;
  z-index: 100;
  section {
    margin: auto;
    padding-bottom: 40px;
  }
}
.title-intro {
  color: $nightblue;
  font-weight: 600;
  font-size: 1.5em;
  span {
    color: $orange;
  }
}
.title-main {
  color: $nightblue;
  font-weight: 700;
  font-size: 1.9em;
  @include for-size(desktop-up) {
    font-size: 2.8em;
  }
}
.title-foot {
  color: $nightblue;
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 25px;
  opacity: 74%;
}
